{% extends 'encyclopedia/layout.html' %}

{% block title %}
Edit Page
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Edit Page {{ title }}</h1>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            {{ form.content.label_tag }}
            {{ form.content }}
        </div>
        <div class="d-flex justify-content-end"> <!-- Aligns the button to the right -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
